<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331276885552-e5j2o8om5nrnggb562mi9fpu9br3t530.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331276885552-e5j2o8om5nrnggb562mi9fpu9br3t530</string>
	<key>API_KEY</key>
	<string>AIzaSyAbLNrvEs75y2Bj0RNokcg2ivh75T-zYrs</string>
	<key>GCM_SENDER_ID</key>
	<string>331276885552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kyungsnim.lastParkApp</string>
	<key>PROJECT_ID</key>
	<string>last-park</string>
	<key>STORAGE_BUCKET</key>
	<string>last-park.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331276885552:ios:d3406619a216373863d7f5</string>
	<key>DATABASE_URL</key>
	<string>https://last-park.firebaseio.com</string>
</dict>
</plist>